/* Basis */
body {
    font-family: "Noto Sans JP", sans-serif;
}

.container {
    width: 84%;
    margin: 0 auto;
}

@media (min-width: 900px) {
    .container {
        width: 91%;
        max-width: 1240px;
    }
}

/* Reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Header */
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
}

.site {
    display: flex;
    align-items: center;
}

.site img {
    width: 42px;
    margin-right: 10px;
}

.site .corp {
    color: #333333;
    font-size: 12px;
    line-height: 1.4;
    font-weight: 900;
}

.site .desc {
    color: #707F89;
    font-size: 10px;
    line-height: 1.4;
}

/* Nav button */
.nav-button {
    box-sizing: content-box;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    width: 20px;
    height: 14px;
    cursor: pointer;
    color: #2E5180;
}

.nav-button::before,
.nav-button::after {
    content: "";
    display: block;
    height: 2px;
    background-color: currentColor;
    transform: translateY(5px);
    transition: 0.3s ease-in-out;
}

.nav-button::before {
    transform: translateY(-5px);
    box-shadow: 0 6px currentColor;
}

/* Nav: Mobile */
@media (max-width: 899px) {
    .open .nav-button {
        z-index: 1000;
        color: #FFFFFF;
    }

    .open .nav-button::before {
        transform: translateY(1px) rotate(45deg);
        box-shadow: none;
    }

    .open .nav-button::after {
        transform: translateY(-1px) rotate(-45deg);
    }

    html .open,
    .open body {
        height: 100%;
        overflow: hidden;
    }

    .open .form {
        display: none;
    }

    .open .nav {
        left: 0;
    }

    .header {
        position: relative;
    }

    .nav {
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }

    .nav ul {
        list-style: none;
        text-align: center;
        font-weight: bold;
    }

    .nav li:not(:last-child) {
        margin-bottom: 40px;
    }

    .nav .btn {
        color: inherit;
    }
}

/* Nav: PC */
@media (min-width: 900px) {
    .nav-button {
        display: none;
    }

    .nav ul {
        display: flex;
        align-items: center;
        list-style: none;
        color: #333333;
    }

    .nav li:not(:last-child) {
        margin-right: 23px;
    }

    .nav .btn {
        width: 148px;
    }
}

@media (min-width: 900px) {
    .header .container {
        height: 100px;
    }

    .site .corp {
        font-size: 20px;
    }

    .site desc {
        font-size: 12px;
    }
}

/* Hero */
.hero {
    height: 400px;
    background-image: url("/img/hero.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
}

.hero img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.hero .catch {
    flex: auto;
    align-self: flex-end;
    padding: 33px 0;
    background-color: rgb(255, 255, 255, 0.8);
}

.hero .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.hero p {
    color: #2E5180;
    font-size: 14px;
    margin-bottom: 15px;
}

@media (min-width: 900px) {
    .hero {
        height: 700px;
    }

    .hero .catch {
        padding: 45px 0;
    }

    .hero p {
        font-size: 16px;
        margin-bottom: 25px;
    }
}

/* Message */
.message {
    background-color: #2E5180;
    color: #FFFFFF;
    padding: 67px 0;
}

.message h2 {
    margin-bottom: 38px;
    font-size: 24px;
    line-height: 1.67;
    text-align: center;
}

.message p {
    font-size: 14px;
    line-height: 1.86;
    max-width: 640px;
    margin: 0 auto;
}

@media (min-width: 900px) {
    .message {
        padding: 85px 0;
    }

    .message h2 {
        font-size: 36px;
        line-height: 1.33;
    }
}

@media (max-width: 374px) {
    .message h2 {
        font-size: 20px;
    }
}

/* Service */
.service {
    padding: 67px 0;
    text-align: center;
}

.service h2 {
    display: inline-block;
    font-size: 24px;
    color: #2E5180;
    margin-bottom: 16px;
    padding-bottom: 9px;
    border-bottom: dotted 2px currentColor;
}

.service h2+p {
    font-size: 16px;
    color: #2E5180;
}

@media (min-width: 900px) {
    .service {
        padding: 95px 0 87px;
    }

    .service h2 {
        font-size: 36px;
    }
}

/* Detail */
.details {
    margin-top: 53px;
}

.detail:not(:last-child) {
    margin-bottom: 67px;
}

.detail h3 {
    font-size: 20px;
    line-height: 1.75;
    margin-bottom: 17px;
}

.detail p {
    font-size: 12px;
    line-height: 2;
    max-width: 264px;
    margin: 0 auto 25px;
}

.detail figure {
    height: 246px;
    width: 100%;
    margin: 0 auto 22px;
    background-position: center;
    background-size: cover;
}

.detail.office figure {
    background-image: url(/img/office.jpg);
}

.detail.manage figure {
    background-image: url(/img/manage.jpg);
}

.detail.research figure {
    background-image: url(/img/research.jpg);
}

/* Button */
.btn {
    display: block;
    color: #2E5180;
    width: 208px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding: 11px 11px 13px;
    border: solid 2px currentColor;
    border-radius: 24px;
}

@media (min-width: 900px) {
    .details {
        margin-top: 75px;
        display: flex;
    }

    .detail {
        flex: 1;
        margin-right: 3.22%;
        display: flex;
        flex-direction: column;
    }

    .detail:first-child {
        margin-left: 3.22%;
    }

    .detail:not(:last-child) {
        margin-bottom: 0;
    }

    .detail h3 {
        line-height: 1.4;
        font-size: 30px;
        margin-bottom: 26px;
    }

    .detail p {
        width: 78%;
        max-width: none;
    }

    .detail figure {
        height: 360px;
        margin-bottom: 33px;
    }

    .detail .btn {
        margin-top: auto;
    }
}

/* Contact */
/* Text */
.contact {
    padding: 62px 0;
    background-color: #EEF4F8;
}

.contact h2 {
    font-size: 24px;
    margin-bottom: 42px;
}

.contact h2+p {
    font-size: 12px;
    line-height: 2.17;
}

@media (min-width: 900px) {
    .contact {
        background: none;
        max-width: calc(1240px / 0.91);
        padding: 0;
        margin: 0 auto;
    }

    .contact .container {
        background-color: #EEF4F8;
        padding: 96px 9% 62px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
    }

    .contact .text {
        flex: 0 0 auto;
    }

    .contact .form {
        flex: 1 1 auto;
        max-width: 457px;
        margin-left: 1em;
        margin-top: 0;
    }

    .contact h2 {
        font-size: 36px;
    }

    .contact h2+p {
        font-size: 14px;
        line-height: 1.86;
    }
}

/* Form */
.form {
    margin-top: 46px;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
    width: 100%;
    margin-bottom: 17px;
    padding: 12px 20px 14px;
    box-sizing: border-box;
    border: solid 1px #CDD6DD;
    border-radius: 0;
    appearance: none;
    -webkit-appearance: none;
    color: #333333;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
}

.form textarea {
    height: 150px;
}

.form ::placeholder {
    color: #CDD6DD;
    opacity: 1;
}

.form input:-ms-input-placeholder,
.fomr textarea:-ms-input-placeholder {
    color: #CDD6DD;
}

.form ::-ms-input-placeholder {
    color: #CDD6DD;
}

.form .btn {
    width: 100%;
    margin: 0;
    border: none;
    background-color: #2E5180;
    color: #FFFFFF;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}

@media (min-width: 900px) {
    .form .btn {
        width: 272px;
    }
}

/* Footer */
.footer {
    padding: 38px 0 56px;
    background-color: #2E5180;
}

.footer .site img {
    width: 47px;
    font-size: 14px;
}

.footer .site .corp {
    color: #FFFFFF;
    font-size: 16px;
}

.footer .add {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 2;
    margin: 20px 0 36px 61px;
}

.footer .sns {
    display: flex;
    align-items: center;
    margin-left: 61px;
    list-style: none;
}

.footer .sns li:not(:first-child) {
    margin-left: 25px;
}

.footer .sns img {
    width: 35px;
}

@media (min-width: 900px) {
    .contact {
        position: relative;
        z-index: 2;
    }

    .footer {
        margin-top: -48px;
        padding: 105px 0 88px;
    }

    .footer .container {
        display: flex;
        justify-content: space-between;
    }

    .footer .site img {
        width: 59px;
        margin-right: 18px;
    }

    .footer .site .corp {
        font-size: 20px;
    }

    .footer .add {
        margin: 22px 0 0 77px;
    }

    .footer .sns {
        height: 59px;
    }
}

/* Fade-in */
body {
    animation: fade 5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}